<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kurditing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission-sdk-23 android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kurditing.NoActionBar"
        android:usesCleartextTraffic="true">

        <!-- meta-data berisi app id admob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1291187334064991~6170246703"/>

        <!-- pendaftaran receiver untuk BestSellerWidget disertai intent filter dan meta-data -->
        <receiver android:name=".BestSellerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/best_seller_widget_info" />
        </receiver>

        <!-- daftarkan BestSellerWidgetService dengan memberi permisi BIND_REMOTEVIEWS -->
        <service android:name=".widget.BestSellerWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".account.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.Kurditing.NoActionBar.NoActionBar" />
        <activity android:name=".ReferenceActivity" />
        <activity android:name=".JokeActivity" />
        <!--
            1. inisialisasi nama receiver
            2. memberi izin pada receiver
            3. broadcast receiver dapat menerima event dari aplikasi sendiri atau aplikasi lain
        -->
        <receiver
            android:name=".MyAlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <!--
            1. inisialisasi nama service
            2. memberi izin pada service
            3. broadcast receiver dapat menerima event dari aplikasi sendiri atau aplikasi lain
            4. menghentikan service jika aplikasi didestroy
        -->
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true" /> <!-- daftarkan MyReceiver pada AndroidManifest.xml -->
        <receiver android:name=".MyReceiver" />

        <service
            android:name=".MyJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".VideoPlayingActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".mycourse.MyCourseDescriptionActivity" />
        <activity android:name=".MyCourseActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".SignInActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".SignUpActivity" /> <!-- <activity android:name=".SignUpActivity" android:windowSoftInputMode="stateHidden|adjustResize"/> -->
        <activity android:name=".account.AccountActivity" />
        <activity android:name=".description.DescriptionActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".account.TermsActivity" />
        <activity android:name=".account.HistoryTransActivity" />
        <activity android:name=".account.AboutActivity" />
        <activity android:name=".account.ReferalActivity" />
        <activity android:name=".PaymentActivity" />
    </application>

</manifest>